/* 

    CSS Guide

    1. General Styles
    2. Header
    3. Page content
    4. Footer

*/

/* 1. ---General Styles--- */
div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
    border: none;
}	

body {
    font-family: 'Varela Round', 'Arial', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: rgb(0, 0, 0);

}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    
}

li {
	list-style-type: none;
}

nav li {
    display: inline;
}

#container {
    width: 1200px;
    margin: 0 auto;
}

/* 2. ---Grid--- */

.grid {
    display: grid;
    padding-left: 80px;
    padding-right: 80px;
    grid-template-columns: repeat(4, 200px);
    grid-column-gap: 60px;
}

/* 2. ---Header--- */

#main-header {
    background-color: #394449;
    padding-top: 20px;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo {
    height: 80px;
}

#main-nav ul li a {
    color: #fff;
    padding-left: 50px;
    font-size: 25px; 
    transition: all 0.3s ease-in-out;
}

#main-nav ul li a:hover {
    color: #C1272D;
}

/* 3. ---Page content--- */
.title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

#balls {
    background-color: #BBDFF9;
    border-radius: 5%;
}

.column-right {
    grid-column: 1/3;
}

.column-left {
    grid-column: 3/-1;
}

.wrapper {
    padding: 30px;
}

.item-name {
    font-size: 30px;
}

/* 4. ---Footer--- */

#footer {
    background-color: #394449;
    width: 100%;
    padding-top: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo {
    height: 40px;
}

#footer-nav ul li a {
    color: #fff;
    padding-left: 50px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

#footer-nav ul li a:hover {
    color: #C1272D;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #394449;
    color: #73858d;
}