/* 

    CSS Guide

    1. General Styles
    2. Header
    3. Page content
    4. Footer

*/

/* 1. ---General Styles--- */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Varela Round', 'Arial', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: rgb(0, 0, 0);

}

.hidden {
    display: none;
}

#container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    
}

li {
	list-style-type: none;
}

/* 2. ---Grid---

.grid {
    display: grid;
    padding-left: 80px;
    padding-right: 80px;
    grid-template-columns: repeat(4, 200px);
    grid-column-gap: 60px;
} */

/* 2. ---Header--- */

#main-header {
    background-color: #394449;
    width: 100%;
    padding-top: 20px;
    padding-left: 50px;
    margin-bottom: 50px;
    position: sticky;
    top: 0px;
}

#header-logo {
    height: 80px;
}

#main-nav {
    display: inline-flex;
}

#main-nav ul li {
    display: inline;
    padding-left: 50px;
    font-size: 25px;  
    margin-bottom: 50px;
}

#main-nav ul li a {
    color: #fff;
}

#main-nav ul li a:hover {
    color: #C1272D;
}

/* 3. ---Page content--- */
.title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

#balls {
    background-color: #BBDFF9;
    border-radius: 10%;
    padding-bottom: 20px;
}

.item {
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: center;
    margin-left: 210px;
    margin-top: 10px;
}

.item:hover {
    cursor: pointer;
}

.wrapper {
    padding: 30px;
}

.item-name {
    font-size: 30px;
}

/* 4. ---Footer--- */

#footer {
    background-color: #394449;
    width: 100%;
    padding-top: 20px;
    padding-left: 50px;
    margin-top: 50px;
}

#footer-logo {
    height: 40px;
}

#footer-nav {
    display: inline-block;
}

#footer-nav ul li {
    display: inline;
    padding-left: 50px;
    font-size: 20px;
}

#footer-nav ul li a {
    color: #fff;
}

#footer-nav ul li a:hover {
    color: #C1272D;
}

p {
    text-align: center;
}